{% extends 'Shared/base.html' %}

{% load static %}

{% block title %}Liste des docteurs{% endblock %}

{% block page_style %}
  <!-- SPECIFIC CSS -->
    <link href="{% static 'css/date_picker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
	<div id="results">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4><strong>Les résultats</strong></h4>
				</div>
				<div class="col-md-6">
					<div class="search_bar_list">
						<form action="{% url 'pages:doctor_list' %}">
						<input type="text" class="form-control" placeholder="Ex. Spécialiste, Nome, Docteur..." name="search">
						<input type="submit" value="Recherchez">
						</form>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /results -->

	<div class="filters_listing">
		<div class="container">
			<ul class="clearfix">
				<li>
					<h6>Type</h6>
					<div class="switch-field">
							<input type="radio" id="all" name="type_patient" value="all" checked>
							<label for="all">Tout</label>
							<input type="radio" id="doctors" name="type_patient" value="doctors">
							<label for="doctors">Docteurs</label>
							<input type="radio" id="clinics" name="type_patient" value="clinics">
							<label for="clinics">Cliniques</label>
					</div>
				</li>
				<li>
					<h6>Layout</h6>
					<div class="layout_view">
						<a href="{% url 'pages:doctor_list_grid' %}"><i class="icon-th"></i></a>
						<a href="#0" class="active"><i class="icon-th-list"></i></a>
					</div>
				</li>
				<li>
					<h6>Regrouper par</h6>
					<select name="orderby" class="selectbox">
					<option value="Closest">Spécialités</option>
					<option value="Best rated">Best rated</option>
					<option value="Men">Men</option>
					<option value="Women">Women</option>
					</select>
				</li>
			</ul>
		</div>
		<!-- /container -->
	</div>
	<!-- /filters -->
	<div class="container margin_60_35">
		<div class="row">
			<div class="col-lg-7">
				{% for doctor in doctors %}
				{% if doctor.specializations %}
				<div class="strip_list wow fadeIn">
					<a href="#0" class="wish_bt"></a>
					<figure>
						<a href="#"><img src="{{ doctor.photo.url }}" height="565" width="565" alt=""></a>
					</figure>
					
                           <small>{% for specialization in doctor.specializations.all %}{{ specialization.specialization_name }}{% endfor %}</small>
					<h3>Dr.{{doctor.user.first_name}} {{doctor.user.last_name}}</h3>
					<p>{{ doctor.professional_statement|truncatewords:10|linebreaks}}</p>
					<ul>
						<li><a href="#0" onclick="onHtmlClick('Doctors', 0)" class="btn_listing">View on Map</a></li>
						<li><a href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x0:0xa6a9af76b1e2d899!2sAssistance+%E2%80%93+H%C3%B4pitaux+De+Paris!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361" target="_blank">Directions</a></li>
						<li><a href="{% url 'pages:doctor_detail' doctor.id %}">Réservez</a></li>
					</ul>
				</div>
				{% else %}
				<div class="strip_list wow fadeIn">
					<a href="#0" class="wish_bt"></a>
					<p>Un nouveau docteur n'a pas des détails précis</p>
				</div>
				{% endif %}
				{% endfor %}
				<!-- /strip_list -->

				{% include "Shared/pagination.html"  with page=doctors %}
			</div>
			<!-- /col -->
			
			<aside class="col-lg-5" id="sidebar">
				<div id="map_listing" class="normal_list">
				</div>
			</aside>
			<!-- /aside -->
			
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>
<!-- /main -->

{% endblock %}



{% block scripts %}
    <!-- SPECIFIC SCRIPTS -->
	<script src="http://maps.googleapis.com/maps/api/js"></script>s
    <script src="{% static 'js/map_listing.js' %}"></script>
    <script src="{% static 'js/infobox.js' %}"></script>
{% endblock %}

	

