{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title>Allodoc - {% block title %}{% endblock  %}</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">

	<!-- BASE CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}"rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/menu.css' %}" rel="stylesheet">
	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">
	<link href="{% static 'css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">

	{% block page_style %}
    {% endblock %}

    
	<!-- YOUR CUSTOM CSS -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>

<body>

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
    
	<header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo_home">
						<h1><a href="{% url 'pages:index' %}" title="Allodoc">Allodoc</a></h1>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
					{% if request.user.is_authenticated %}
					<!-- <ul id="top_access">
						<li>{{ request.user.first_name }}<a href="#">(Votre profile)</a></li>
						<li><a href="{% url 'pages:logout' %}"><i class="pe-7s-angle-right"></i></a></li>
					</ul> -->
					{% else %}
					<ul id="top_access">
						<li><a href="{% url 'pages:login' %}"><i class="pe-7s-user"></i></a></li>
						<li><a href="{% url 'pages:doctor_signup' %}"><i class="pe-7s-add-user"></i></a></li>
					</ul>
					{% endif %}
					<div class="main-menu">
						{% if request.user.is_authenticated %}
						<ul>
							<li class="submenu">
								<!-- #RACORDER AVEC INTERFACE ADMIN -->
								<a href="{% url 'pages:doctor_list' %}" class="show-submenu">Les docteurs</a>

							</li>
							<li class="submenu">
								<a href="{% url 'pages:faq' %}" class="show-submenu"></a>

							</li>
							<li class="submenu">
								<a href="{% url 'pages:faq' %}" class="show-submenu">Besoin d'aide ?</a>

							</li>
							<li class="submenu">
								<a href="{% url 'pages:doctor_profile' %}" class="show-submenu">Votre profile</a>

							</li>
							<li class="submenu"><a href="{% url 'pages:logout' %}" class="show-submenu">Se déconnecter({{ request.user.username }})</li>

						</ul>
						{% else %}
						<ul>
							<li class="submenu">
								<!-- #RACORDER AVEC INTERFACE ADMIN -->
								<a href="{% url 'pages:doctor_list' %}" class="show-submenu">Les docteurs</a>

							</li>
							<li class="submenu">
								<a href="{% url 'pages:faq' %}" class="show-submenu">Besoin d'aide ?</a>

							</li>
							<li class="submenu">
								<a href="{% url 'pages:contact_us' %}" class="show-submenu">Contacts</a>

							</li>

						</ul>
                        {% endif %}
					</div>
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /header -->
    
          {% block content %}
          {% endblock %}
	
    
<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<p>
						<a href="{% url 'pages:index' %}" title="Allodoc">
							<img src="{% static 'img/logo.png' %}" data-retina="true" alt="" width="163" height="36" class="img-fluid">
						</a>
					</p>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>About</h5>
					<ul class="links">
						<li><a href="#0">About us</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#0">FAQ</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="register.html">Register</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="#0">Doctors</a></li>
						<li><a href="#0">Clinics</a></li>
						<li><a href="#0">Specialization</a></li>
						<li><a href="#0">Join as a Doctor</a></li>
						<li><a href="#0">Download App</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400"><i class="icon_mobile"></i> + 61 23 8093 3400</a></li>
						<li><a href="mailto:info@findoctor.com"><i class="icon_mail_alt"></i> help@findoctor.com</a></li>
					</ul>
					<div class="follow_us">
						<h5>Follow us</h5>
						<ul>
							<li><a href="#0"><i class="social_facebook"></i></a></li>
							<li><a href="#0"><i class="social_twitter"></i></a></li>
							<li><a href="#0"><i class="social_linkedin"></i></a></li>
							<li><a href="#0"><i class="social_instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2021 Allodoc</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/common_scripts.min.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
	{% block scripts %}
	{% endblock %}

</body>

</html>