

<nav aria-label="" class="add_top_20">
    <ul class="pagination pagination-sm">
        {% if page.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1">Précédent</a>
        </li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="#">{{page.number}}</a></li>
        {% if page.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.next_page_number }}">Suivant</a>
        </li>
        {% endif %}
        
    </ul>
</nav>
<!-- /pagination -->