
{% extends 'Shared/base_admin.html' %}

{% block title %}
   Vos formations
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Vos formations</a>
        </li>
      </ol>
		<div class="box_general">
			<h4>La liste des vos diplômes</h4> 
			<div class="list_general">
				<ul>
					<a href="{%  url 'pages:doctor_qualification'%}" class="btn_1 medium">Nouvelle formation</a><br>
					{% for formation in formations %}
					<li>
						<h4>{{ formation.procurement_year}}</h4>
						<h1>{{formation.qualification_name}} à l'institut {{formation.institute_name}}</h1>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<!-- /box_general-->
		<nav aria-label="...">
			<ul class="pagination pagination-sm add_bottom_30">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
		<!-- /pagination-->
	  </div>
	  <!-- /container-fluid-->
</div>
    <!-- /container-wrapper-->
     
{% endblock %}
